body {
  background-image: url(assets/elden-ring-4k-game-ok-1920x1080.jpg);
  background-repeat: no-repeat;
  color: #d6d6d6;
  font-family: 'Cinzel', serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.card img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.card h1 {
  margin-top: 20px;
  font-size: 2em;
}
.descricao {
  margin-top: 10px;
  font-size: 1.2em;
}
.card .habilidades {
  margin-top: 20px;
}
.card .habilidades ul {
  list-style-type: none;
  padding: 0;
}
.card .habilidades ul li {
  margin-bottom: 10px;
  font-size: 1.1em;
}
.card .habilidades ul li strong {
  color: #ffcc00;
}
